@charset "utf-8";

/* 共通 */

body {
  font-family: "Lato";
  font-size: 20px;
  color: #333;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  line-height: 1.0em;
}

.title-font {
  font-family: "Raleway";
}

.container {
  width: 100%;
  /* 背景色のみ画面いっぱいに広がる */
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.heading {
  font-size: 24px;
}

.flex-container {
  display: flex;
}

/* 共通 */

/* ホバー */

.anchor {
  transition: 0.3s;
}

.anc_contact,
.anc_email {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
}

.anc_contact:hover,
.anc_email:hover {
  color: #333;
}

.anc_works {
  opacity: 0.7;
}

.anc_works:hover {
  opacity: 1;
}

.anc_sns {
  width: 185px;
  box-sizing: border-box;
  text-align: center;
  padding: 20px 0;
}

.anc_sns:hover {
  background-color: #fff;
}

/* ホバー */

/* header */

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-inner {
  padding: 15px 0;
}

.header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  font-size: 40px;
  color: #4e4e4e;
}

.anc_contact {
  padding: 14px 12px;
}

.sp-menu {
  display: none;
}

/* header */

/* main共通 */

.main {
  padding-top: 70px;
  /* ヘッダーの下に回り込む余白分 */
}

/* main共通 */

/* title */

.title {
  width: 100%;
  background-color: #f2f2f2;
}

.title-inner {
  padding: 250px 0;
  text-align: center;
}

.title_text {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.title_sub_text {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/* title */

/* what we can do */

.sec__introduction {
  background-color: #74cfae;
}

.intro-inner {
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 50px;
}

.intro_desc {
  color: #fff;
  width: 60%;
  text-align: center;
  margin-top: 20px;
}

.intro_desc p {
  line-height: 24px;
  margin-top: 35px;
}

/* what we can do */

/* works */

.works {
  background-color: #f2f2f2;
}

.works-inner {
  text-align: center;
  padding: 60px 0 70px 0;
}

.works__img_box {
  margin-top: 40px;
  flex-wrap: wrap;
}

.works__img {
  margin: 80px 0 0 100px;
}

.works__img:nth-child(3n+1) {
  margin-left: 0;
}

.works__img:nth-child(-n+3) {
  margin-top: 0;
}

.mail_box {
  margin-top: 90px;
  align-items: flex-start;
  justify-content: center;
}

.mail-text {
  width: 52%;
}

.anc_email {
  padding: 14px 20px;
  white-space: nowrap;
  margin-left: 90px;
}

/* works */

/* skills */

.sec__skills {
  background-color: #4e4e4e;
}

.skills-inner {
  padding: 70px 0 100px 0;
  color: #fff;
  text-align: center;
}

.skills__img_box {
  justify-content: center;
  margin-top: 40px;
}

.skills__img {
  margin-left: 180px;
}

.skills__img:first-child {
  margin-left: 0;
}

.skills_figcaption {
  margin-top: 20px;
}

/* skills */

/* sns */

.navigation {
  background-color: #f2f2f2;
}

.nav-inner {
  padding: 200px 0;
}

.nav__sns_box {
  display: flex;
  justify-content: center;
}

.sns__icon {
  color: #74cfae;
  font-size: 45px;
}

/* sns */

/* footer */

.footer {
  background-color: #74cfae;
}

.footer-inner {
  margin: 0 auto;
  padding: 20px 0 25px 0;
}

.copy-wright {
  text-align: right;
  color: #fff;
}

/* footer */

@media screen and (max-width: 1199px) {
  /* tab */

  /* 共通 */
  
  .inner {
    width: 97%;
  }

  .flex-container {
    display: block;
  }

  /* 共通 */

  /* what we can do */

  .intro-inner {
    padding: 50px 0 25px 0;
    text-align: center;
  }

  .intro_desc {
    width: 80%;
    margin: 20px auto 0;
  }

  /* what we can do */

  /* works */

  .works__img_box {
    display: block;
    flex-wrap: nowrap;
  }

  .works__img {
    margin: 0;
  }

  .works__img:nth-child(3n+1) {
    margin-top: 80px;
  }

  .works__img:first-child {
    margin-top: 0;
  }

  .mail_box {
    margin-top: 80px;
  }

  .mail-text {
    width: 100%;
  }

  .anc_email {
    margin: 40px 0 0 0;
  }

  /* works */

  /* skills */

  .skills__img {
    margin: 88px 0 0 0;
  }

  .skills__img:first-child {
    margin: 0;
  }

  /* skills */

  /* tab */
}

@media screen and (max-width: 767px) {
  /* sp */
  
  /* header */

  .anc_contact {
    display: none;
  }

  .sp-menu {
    display: inline-block;
    width: 35px;
    height: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .sp-menu_inside {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .sp-menu span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
  }

  .sp-menu span:nth-child(1) {
    top: 0;
    left: 0;
  }

  .sp-menu span:nth-child(2) {
    top: 9px;
    left: 0;
  }

  .sp-menu span:nth-child(3) {
    bottom: 0;
    left: 0;
  }

  /* header */

  /* title */

  .title-inner {
    padding: 160px 0 130px 0;
  }

  .title_text {
    font-size: 80px;
  }

  /* title */

  /* sns */

  .nav__sns_box {
    display: block;
    text-align: center;
  }

  .nav__sns_box li {
    display: block;
  }

  .nav-inner {
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 50px 0;
  }

  .anc_sns {
    width: 100%;
  }

  /* sns */

  /* sp */
}
