@charset "utf-8";

/* 共通 */

body {
  font-family: "Lato";
  font-size: 20px;
  color: #333;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
}

.title-font {
  font-family: "Raleway";
}

.container {
  width: 100%;
  /* 背景色のみ画面いっぱいに広がる */
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.heading {
  font-size: 24px;
}

img {
  vertical-align: bottom;
}

.flex-container {
  display: flex;
}

/* 共通 */

/* ホバー */

.anchor {
  display: block;
  transition: 0.3s;
  text-decoration: none;
}

.anc_contact,
.anc_email {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
}

.anc_contact:hover,
.anc_email:hover {
  color: #333;
}

.anc_works {
  opacity: 0.7;
}

.anc_works:hover {
  opacity: 1;
}

.anc_sns {
  width: 185px;
  box-sizing: border-box;
  text-align: center;
  padding: 20px 0;
}

.anc_sns:hover {
  background-color: #fff;
}

/* ホバー */

/* header */

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.header-inner {
  padding: 15px 0;
}

.header_box {
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  font-size: 40px;
  color: #4e4e4e;
}

.anc_contact {
  padding: 14px 12px;
}

/* header */

/* title */

.title {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 75px;
  /* ヘッダーの下に回り込む余白分 */
}

.title-inner {
  padding: 250px 0;
  text-align: center;
}

.title_text {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.title_sub_text {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/* title */

/* what we can do */

.sec__introduction {
  background-color: #74cfae;
}

.intro-inner {
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 50px;
}

.intro_desc {
  color: #fff;
  width: 650px;
  text-align: center;
}

.intro_desc h2 {
  margin-top: 20px;
}

.intro_desc p {
  margin-top: 35px;
}

/* what we can do */

/* works */

.works {
  background-color: #f2f2f2;
}

.works-inner {
  text-align: center;
  padding: 60px 0 70px 0;
}

.works__img_box {
  margin-top: 40px;
  flex-wrap: wrap;
}

.works__img {
  margin: 80px 0 0 100px;
}

.works__img:nth-child(3n+1) {
  margin-left: 0;
}

.works__img:nth-child(-n+3) {
  margin-top: 0px;
}

.mail_box {
  margin-top: 90px;
  padding: 0 90px;
  align-items: flex-start;
  justify-content: center;
}

.mail-text {
  width: 570px;
}

.anc_email {
  padding: 14px 20px;
  white-space: nowrap;
  margin-left: 90px;
}

/* works */

/* skills */

.sec__skills {
  background-color: #4e4e4e;
}

.skills-inner {
  padding: 70px 0 100px 0;
  color: #fff;
  text-align: center;
  width: 1028px;
}

.skills__img_box {
  margin-top: 40px;
}

.skills__img {
  margin-left: 180px;
}

.skills__img:first-child {
  margin-left: 0;
}

.skills_figcaption {
  margin-top: 20px;
}

/* skills */

/* nav */

.navigation {
  background-color: #f2f2f2;
}

.nav-inner {
  padding: 200px 0;
}

.nav__sns_box {
  justify-content: center;
}

.sns__icon {
  color: #74cfae;
  font-size: 45px;
}

/* nav */

/* footer */

.footer {
  background-color: #74cfae;
}

.footer-inner {
  margin: 0 auto;
  padding: 20px 0 25px 0;
}

.copy-wright {
  text-align: right;
  color: #fff;
}

/* footer */


@media (max-width: 767px) {
  .flex-container {
    display: block;
  }

  .header {
    
  }
}


/* @media (max-width: 767px) {

} */